body {
background-color: bisque;
}

div {
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #351d1d;
}

.home-nav {
  background-color: maroon;
  color: white;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bottom-nav {
  background-color: chocolate;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: antiquewhite;
}
.links {
  background-color: chocolate;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.links li {
  list-style: none;
}

.bottom-nav li {
  list-style: none;
}

.nav {
  background-color: maroon;
  color: antiquewhite;
  font-size: 50px;
}

.ingr,
.steps {
  text-align: left;
}

.title h1 {
  background-color: rgb(100, 40, 16);
  color: antiquewhite;
}

h2 {
  background-color: rgb(100, 40, 16);
  color: antiquewhite;
}